body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(46, 49, 46);
    height: 100vh;
}

h2{
    color: white;
    font-size: 25px;
    position: absolute;
    left: 40%;
    top: 20%;
}

.box{
    width: 100px;
    height: 50px;
    border: 1px solid rgb(41, 55, 41);
    border-radius: 05px;
}

#box-out-top{
    background-color: red;
}

#box-1{
    background-color: green;
}

#box-2{
    background-color: blue;
}

#box-3{
    background-color: yellow;
}

#box-4{
    background-color: pink;
}

#box-out-bttom{
    background-color: blueviolet;
    position: absolute;
    right: 5px;
}

.inLine{
    display: flex;
    padding: 12px;
    gap: 12px;
    justify-content: center;
}

.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 60%;
}


button {
    padding: 13px 40px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s, transform 0.3s, border 0.3s;
    margin-top: 100px;
    /* border-radius: 100px; */
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-1 {
    margin-right: 10px;
  }
  .btn-2 {
    margin-left: 10px;
  }
  .start-btn {
    background-color: #4caf50;
    border-radius: 25px 0px 0px 25px;
  }
  .stop-btn {
    background-color: #f44336;
    border-radius: 0px 25px 25px 0px;
  }
  .start-btn:hover {
    background-color: #117616;
    transform: scale(1.1);
    border: 1px solid #00ff0d;
  }
  .stop-btn:hover {
    background-color: #b71c1c;
    transform: scale(1.1);
    border: 1px solid #ff0000;
  }